@model TorrentNews.Models.TorrentsListModel

<div style="clear: both;"></div>

@Html.Partial("_Pager", Model)

@Html.Partial("_TorrentsTable", Model.Torrents)

@Html.Partial("_Pager", Model)
