@if (Request.IsAuthenticated) {
    <text>
        Hello, @User.Identity.Name
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()"><span class="icon-off"></span> Sign out</a>
        }
    </text>
} else {
    <ul>
        <li><a id="loginLink" href="@Url.Action("Login", "Account")"><span class="icon-signin"></span> Sign in</a> 
        </li>
    </ul>
}
