@model TorrentNews.Models.PagedResultsModel

<div class="pager">
    @if (Model.ShowGoToBookmark)
    {
        if (!Model.BookmarkSet)
        {
            <span class="goToBookmark" style="cursor: default;">No bookmark set <span class="icon-bookmark"></span></span>
        }
        else
        {
            <a class="goToBookmark" href="@Url.Action("GoToBookmark", "Torrents")">Go to bookmark <span class="icon-bookmark"></span></a>
        }
    }

    <span>
    @if (!string.IsNullOrEmpty(Model.PreviousPageUrl))
    {
        <a href="@Model.PreviousPageUrl"><span class="icon-caret-left"></span></a>
    }
    else
    {
        <a class="disabled"><span class="icon-caret-left"></span></a>
    }

    @if (!string.IsNullOrEmpty(Model.NextPageUrl))
    {
        <a href="@Model.NextPageUrl"><span class="icon-caret-right"></span></a>
    }
    else
    {
        <a class="disabled"><span class="icon-caret-right"></span></a>
    }
    </span>

</div>