@using TorrentNews.Extensions
@model IEnumerable<TorrentNews.Models.TorrentModel>

<table id="moviesTable">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var t in Model)
{
    <tr>
        <td class="posterCell">
            @if (!string.IsNullOrEmpty(t.Poster))
            {
                <a href="http://www.imdb.com/title/@t.ImdbId" target="_blank"><img src="@t.Poster"/></a>
            }
            else
            {
                <img src="/Images/noimage-poster.png"/>
            }
        </td>
        <td class="scoreCell"><span class="score">@t.Score</span></td>
        <td class="movieInfoCell">
            @Html.Partial("_MovieInfo", t)
        </td>
        <td class="torrentInfoCell">
            @Html.Partial("_TorrentInfo", t)
        </td>
    </tr>
}
</table>
