html {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: Verdana, Helvetica, Sans-Serif;
    padding: 0;
}

#body {
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 50px;
}

a {
    color: #333;
    outline: none;
    text-decoration: none;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        color: tomato;
    }

header {
    margin-top: 40px;
}

header, footer, hgroup,
nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #999;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #999;
    outline: none;
    text-decoration: none;
}

/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

#logoutForm {
    display: inline;
}

/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

#moviesTable {
    background-color: whitesmoke;
    margin-top: 20px;
}

#moviesTable td {
    vertical-align: top;
}

#moviesTable p {
    margin-bottom: 4px;
    margin-top: 0;
}

#moviesTable td.scoreCell {
    text-align: center;
    width: 85px;
    min-width: 85px;
}

#moviesTable td.movieInfoCell {
    width: 385px;
    min-width: 385px;
}

#moviesTable td.torrentInfoCell {
    width: 420px;
    min-width: 420px;
}

#moviesTable td.posterCell {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

#moviesTable img.poster {
    padding: 10px;
    width: 200px;
    height: 281px;
    border: none;
}

.score {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

.pager {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.pager a.disabled {
    color: lightgray;
}

.pager a.disabled:hover {
    color: lightgray;
    text-decoration: none;
}

#moviesTable p.plot {
    margin-bottom: 10px;
}

.sharing-bar {
    position: fixed;
    left: 5px;
    top: 200px;
}

.sharing-bar img {
    border: none;
}

.sharing-bar img:hover {
    opacity: .75;
    border: none;
}

.sharing-bar div {
    margin-bottom: 5px;
}

#beta-ribbon {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.2;
}

#footer {
    position: fixed;
    height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: solid 1px #e5e5e5;
    background-color: #fdfdfd;
    text-align: right;
}

#footer span {
    margin-right: 20px;
}

#footer img {
    margin-top: 5px;
}

.detailsWrapper {
    min-width: 800px;
}

.detailsWrapper .rightColumn {
    float: right;
    text-align: right;
}

.detailsContainer p {
    margin-top: 0;
    margin-bottom: 4px;
}

.detailsContainer p.plot {
    margin-top: 0;
    margin-bottom: 10px;
}

.detailsContainer .title {
    margin-top: 20px;
}

.detailsPoster {
    margin-top: 0px;
    margin-bottom: 20px;
}

.detailsPoster img {
    width: 150px;
    height: 210px;
}

.detailsTrailer {
    text-align: center;    
}

.hidden {
    display: none;
}

.torrentInfoCellWrapper {
    position: relative;
    height: 260px;
    margin-bottom: 22px;
}

.torrentInfoCellButtonsContainer {
    float: right; 
}

.trailerContainer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#moviesTable p.moreTrailers a {
    color: tomato;
    font-weight: bold;
}

#moviesTable p.moreTrailers, p.moreTrailers {
    margin: 0;
    margin-top: 8px;
}

#moviesTable div.closeTrailer {
    position: relative;
    display: table-cell;
    vertical-align: top;
    left: -135px;
    font-size: 20px;
}

#moviesTable div.closeTrailer span:hover {
    color: tomato;
}

#moviesTable div.closeTrailer span {
    cursor: pointer;
}

#moviesTable iframe.trailerFrame {
    display: table-cell;
    margin: auto;
}

#moviesTable div.trailerFrameContainer {
    display: table;
    width: 100%;
}
.trailerButton {
    background-image: url('/Images/youtube.gif');
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.trailerButton.normal {
    opacity: 0.5;
}

.trailerButton.normal:hover {
    opacity: 1;
}

.trailerButton.pushed {
    opacity: 1;
}

.trailerButton.pushed:hover {
    opacity: 0.5;
}

.detailsButton {
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}

.detailsButton:hover {
    opacity: 1;
}

div.relatedTorrent {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    margin-bottom: 2px;
}

.relatedTorrentsContainer p.relatedTorrentTitle {
    font-weight: bold;
    font-size: 13px;
}

.relatedTorrentsContainer p.relatedTorrentTitle span {
    font-weight: normal;
    font-size: 10px;
}

.relatedTorrentsContainer table {
    width: 780px;
}

.relatedTorrentsContainer table td {
    padding: 0;
    padding-top: 2px;
}

.relatedTorrentsContainer table th, .relatedTorrentsContainer table td {
    font-size: 13px;
}

.relatedTorrentsContainer table th:nth-child(2), 
.relatedTorrentsContainer table th:nth-child(4), 
.relatedTorrentsContainer table th:nth-child(5), 
.relatedTorrentsContainer table th:nth-child(6) {
    text-align: center;
}

.relatedTorrentsContainer table td:nth-child(1) {
    width: 10%;
}

.relatedTorrentsContainer table td:nth-child(2) {
    width: 10%;
    text-align: center;
}

.relatedTorrentsContainer table td:nth-child(3) {
    width: 45%;
}

.relatedTorrentsContainer table td:nth-child(4) {
    width: 10%;
    text-align: center;
}

.relatedTorrentsContainer table td:nth-child(5) {
    width: 15%;
    text-align: center;
}

.relatedTorrentsContainer table td:nth-child(6) {
    width: 10%;
    text-align: center;
}

.relatedTorrentsContainer {
    width: 400px;
    margin-top: 20px;
    font-style: italic;
    position: relative;
}

.tooltip {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 300px;
    font-style: normal;
}

.tooltipRelatedTorrents {
    top: 0px;
    left: -350px;
}

.tooltipAwards {
    top: 100px;
    left: 0px;
}

.tooltipAwards img {
    float: left; 
    margin-left: -11px;    
}

.tooltipAwards p.awardsTitle {
    font-size: 16px; 
    font-weight: bold;
}

a.tag, a.tag:hover {
    text-decoration: none;
    font-size: 13px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
    font-weight: normal;
}

a.tag0, a.tag0:hover {
    color: white;
    background-color: black;
}

a.tag1, a.tag1:hover {
    color: white;
    background-color: tomato;
}

a.tag2, a.tag2:hover {
    color: rgb(145, 94, 0);
    background-color: rgb(255, 255, 110);
}

a.tag3, a.tag3:hover {
    color: white;
    background-color: green;
}

a.tagLight0, a.tagLight0:hover {
    color: black;
    background-color: rgb(226, 226, 226);
}

a.tagLight1, a.tagLight1:hover {
    color: tomato;
    background-color: rgb(255, 237, 237);
}

a.tagLight2, a.tagLight2:hover {
    color: rgb(233, 151, 0);
    background-color: rgb(255, 255, 218);
}

a.tagLight3, a.tagLight3:hover {
    color: green;
    background-color: rgb(233, 252, 226);
}
