@model ICollection<AuthenticationClientData>

@using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    <div id="socialLoginList">
        <p>Choose a provider to sign in</p>
        <div>
            @foreach (AuthenticationClientData p in Model)
            {
                <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
            }
        </div>
    </div>
}

